body {
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 100%;
}

nav {
    display: block;
    background-color: #000;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo_wrapper {
    float: left;
    width: 30%;
}

#logo_wrapper p {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    font-weight: normal;
    padding: 1.0em 1.0em 1.0em 2.0em;
    margin: 0;
}

#nav_wrapper {
    float: right;
    width: 70%;
}

#links_wrapper {
    float: left;
    width: 80%;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
}

li {
    display: inline-block;
    padding: 1.0em 1.0em;
}

li a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
}

li a:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 0.06em;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transform: scaleX(0);
    visibility: hidden;
    width: 100%;
}

li a:hover:before {
    transform: scaleX(1);
    visibility: visible;
    -webkit-transform: scaleX(1);
}

#login_wrapper {
    float: right;
    width: 20%;
}

#login_button {
    border: 0.06em solid #fff;
    border-radius: 1em;
    margin: 0.8em auto;
    padding: 0.2em 0;
    text-align: center;
    width: 60%;
}

#login_button a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#home_wrapper {
    display: block;
    width: 100%;
}

#home_wrapper:after {
    content: "";
    background: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
}

#home_content_wrapper {
    background-color: #000;
    margin: auto;
    margin-top: 10.0em;
    opacity: 0.8;
    padding-bottom: 1.4em;
    text-align: center;
    width: 80%;
}

#home_content_wrapper h1 {
    color: #f00;
    font-size: 5.0em;
    margin: 0;
}

#home_content_wrapper h2 {
    color: #f00;
    font-size: 3.0em;
    margin: 0;
}

#about_wrapper {
    display: block;
    width: 100%;
}

#about_wrapper:after {
    content: "";
    background: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    z-index: -2;
}

#about_content_wrapper {
    margin: auto;
    margin-top: 6.0em;
    width: 80%;
}

#about_content_wrapper h1 {
    color: #fff;
    font-size: 3.0em;
    margin: 0;
    text-decoration: underline;
}

#about_content_wrapper h2 {
    color: #fff;
    font-size: 2.0em;
    margin: 0;
}

#about_content_wrapper p {
    color: #fff;
    font-size: 1.6em;
    margin: 0;
    padding-left: 2.0em;
}