body {
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 100%;
}

nav {
    display: block;
    background-color: #000;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo_wrapper {
    float: left;
    width: 30%;
}

#logo_wrapper p {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    font-weight: normal;
    padding: 1.0em 1.0em 1.0em 2.0em;
    margin: 0;
}

#nav_wrapper {
    float: right;
    width: 70%;
}

#links_wrapper {
    float: left;
    width: 80%;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
}

li {
    display: inline-block;
    padding: 1.0em 1.0em;
}

li a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
}

li a:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 0.06em;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transform: scaleX(0);
    visibility: hidden;
    width: 100%;
}

li a:hover:before {
    transform: scaleX(1);
    visibility: visible;
    -webkit-transform: scaleX(1);
}

#login_wrapper {
    float: right;
    width: 20%;
}

#login_button {
    border: 0.06em solid #fff;
    border-radius: 1em;
    margin: 0.8em auto;
    padding: 0.2em 0;
    text-align: center;
    width: 60%;
}

#login_button a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#banner_wrapper {
    display: block;
    width: 100%;
}

#banner_wrapper:after {
    content: "";
    background: url("../images/banner.jpg");
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

#content_wrapper {
    margin-top: 4.0em;
    text-align: center;
    width: 100%;
}

#content_wrapper h1 {
    color: #f00;
    font-size: 5.0em;
    margin: 2.0em 0 0 0;
}

#content_wrapper h2 {
    color: #f00;
    font-size: 3.0em;
    margin: 0;
}