body, html {
    font-family: "Raleway", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    box-shadow: 0 .04em #d3d3d3;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo_wrapper {
    float: left;
    width: 30%;
}

#logo_wrapper p {
    color: #ff0000;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 1.0em 2.0em 1.0em 2.0em;
}

#nav_wrapper {
    float: right;
    width: 70%;
}

#nav_wrapper ul {
    padding-right: 1.0em;
    list-style-type: none;
    float: right;
    margin: 0;
}

#nav_wrapper li {
    display: inline-block;
    padding: 1.0em 1.0em;
}

#nav_wrapper li a {
    color: #ff0000;
    display: block;
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
}

#nav_wrapper li a:before {
    background-color: #ff0000;
    bottom: -0.2em;
    content: "";
    height: 0.04em;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transform: scaleX(0);
    visibility: hidden;
    width: 100%;
}

#nav_wrapper li a:hover:before {
    transform: scaleX(1);
    visibility: visible;
    -webkit-transform: scaleX(1);
}

.section_wrapper {
    display: block;
    width: 100%;
}

#banner_wrapper {
    height: 50%;
}

#banner_wrapper img {
    overflow: hidden;
    width: 100%;
}

#welcome_wrapper {
    height: 50%;
    text-align: center;
    padding-bottom: 2.0em;
}

#welcome_wrapper h1 {
    color: #ff0000;
    font-size: 2.6em;
    font-weight: bold;
    margin: 0;
}

#welcome_wrapper h2 {
    color: #ff0000;
    font-size: 1.6em;
    margin: 0;
    padding-top: 1.0em;
}

#welcome_wrapper p {
    color: #000000;
    font-size: 1.4em;
    margin: 0;
    padding: 0.8em 0;
}

#scroll_button {
    text-align: center;
    margin: 0;
    padding: 1.4em 0;
}

#scroll_button a {
    border: 0.02em solid #ff0000;
    border-radius: 1.4em;
    color: #000000;
    font-size: 1.4em;
    padding: 0.8em 1.2em;
    text-decoration: none;
}

#scroll_button a:hover {
    color: #ff0000;
    transition: 0.4s ease;
}

#about_wrapper {
    color: #ff0000;
    background-color:rgba(255, 0, 0, 0.1);
}

#about_wrapper h1 {
    font-size: 2.0em;
    font-weight: bold;
    margin: auto;
    padding-top: 1.2em;
    width: 86%;
}

#about_wrapper h2 {
    color: #000000;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: auto;
    padding: 0.6em 0 2.0em 0;
    width: 86%;
}

span {
    color: #ff0000;
}

#footer {
   font-size: 1.2em;
}

/*#facebook_wrapper img {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}*/

#credits_wrapper {
    display: inline-block;
    padding: 0 1.0em;
    width: 50%;
}

#credits_wrapper p {
    color: #000000;
    font-size: 0.8em;
    padding: 1.0em;
}

#login_wrapper {
    float: right;
    padding: 1.0em 0;
    text-align: center;
    width: 10%;
}

#login_button {
    color: #ff0000;
    border: 0.02em solid #ff0000;
    border-radius: 1.0em;
    display: inline-block;
    font-size: 0.8em;
    margin: auto;
    padding: 0.6em 0.2em;
    text-align: center;
    width: 60%;
}

#login_button a {
    color: #ff0000;
    display: block;
    text-decoration: none;
}

/* Login temporary styling */

#login_form_wrapper {
    position: absolute;
    text-align: center;
    top: 60%;
}

#login_form_wrapper h1 {
    color: #ff0000;
    font-size: 2.0em;
}

input[type='text'], input[type='password'] {
    padding: 1.0em;
    width: 30%;
}

input[type='password'] {
    padding: 1.0em;
    width: 30%;
}

input[type='submit'] {
    padding: 1.0em;
    width: 20%;
}

form {
    border: 3px solid #f1f1f1;
}

#contact {
    height: 50%;
    text-align: center;
    padding-bottom: 2.0em;
}

#search_form {
    padding: 1em;
    text-align: center;
    margin-bottom: 0em;
    background-color: orange;
    border-radius: 1em;
}

#search_grid {
    padding: 2em;
}

.search_block {
    display: inline-block;
    margin: 4.5em;
    margin-top: 0em;
}

#search_grid p {
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

.search_display {
    height: 15em;
    width: 15em;
    display: inline;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.search_display:hover {
    opacity: 0.75;
}

.view-cap, .view-container-border { background-color:black; }
.mv-daynames-table { color:white; background:black; }
.mv-event-container { border-top:1px solid black; }